body, html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /*define o comprimento maximo do container*/
    margin: 0 auto;
}

/*header*/

header {
    background-color: black;
    color: white;
}

.nav-menu {
    list-style: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-menu li {
    font-size: 20px;
}


/*main*/


.texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*grid*/

.cards {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}


/*breakpoints*/

@media(max-width: 1300px) {
    .container {
        max-width: 900px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .img {
        width: 100%;
    }

    .nav-menu {
        flex-wrap: wrap;
        row-gap: 8px;
    }

    .texts {
        flex-wrap: wrap;
        row-gap: 15px;
    }
}

@media(max-width: 576px) {
    .container {
        padding: 0 5px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .texts {
        flex-direction: column;
        align-items: center;
    }

}